version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: tienda-ropa-postgres
    environment:
      POSTGRES_DB: tienda_ropa
      POSTGRES_USER: tienda_user
      POSTGRES_PASSWORD: super_seguro
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
